.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  padding-bottom: 20px;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Cairo";
  font-weight: 600;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Cairo";
}

button{
  font-family: "Cairo" !important;
}

.select{
    text-align: end !important;
}

.loader{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}