.administrative-ranks-update{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.college-administrative{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sections-administrative{
    width: 100%;
    margin-top: 2rem;
    gap: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.administrative-info{
    padding: 1rem;
    width: 50%;
    box-shadow: 2px 2px 10px rgba(0, 105, 112, 0.5);
    border-radius: 10px;
    text-align: end;
}