.email-sender{
    width: 80%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: end;
    background-color: #F7F7F7;
    box-shadow: 2px 2px 10px rgba(0, 105, 112, 0.5);
    border-radius: 10px;
    padding: 2rem;
}

.email-sender input, textarea{
    text-align: end;
}

.files{
    width: 50%;
    display: flex;
    justify-content: end;
}

.email-form{
    width: 50%;
    margin-top: 2rem;
    background-color: #fff;
    box-shadow: -0.5px 1px 5px rgba(0, 105, 112, 0.5);
    box-shadow: 0.5px 1px 5px rgba(0, 105, 112, 0.5);
    border-radius: 5px;
    padding: 2rem;
}

.email-form h3{
    text-align: center
}