.navbar {
  background-color: #fff;
  color: black;
  box-shadow: 2px -2px 10px rgba(0, 0, 0, 0.5);
  height: 100px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img{
  width: 350px;
  height: 80px;
}

.navbar .system-name {
  color: black;
  font-size: 25px;
  line-height: 80px;
  margin-left: 40px;
  font-weight: 600;
}

.navbar ul {
  float: right;
  margin-right: 40px;
}

.navbar ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 4px;
}

.navbar ul li a, .navbar ul li span {
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  cursor: pointer;
}


@media (max-width: 1100px) {
  .navbar img{
    display: none;
  }
  .navbar .system-name{
    line-height: 1;
    margin-left: 20px;
  }
  .navbar ul {
    margin-right: 20px;
  }
  .navbar ul li {
    line-height: 1;
  }
  .navbar ul li a, .navbar ul li span {
    padding: 0;
    font-size: 20px;
  }
}

@media (max-width: 952px) {
  .navbar .system-name {
    font-size: 18px;
  }
  .navbar ul li a, .navbar ul li span {
    font-size: 14px;
  }
}